<div class="best-goalkeeper-table-wrapper">
    <table class="table table-striped table-hover">
        <caption>Top 5 goalkeepers</caption>
        <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Club</th>
            <th scope="col"><abbr title="Average conceded goals per match">ACG</abbr></th>
        </tr></thead>
        <tbody>
            {% for player in best_goalkeeper_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ player.first_name }}</td>
                <td>{{ player.last_name }}</td>
                <td>{{ player.team_name }}</td>
                <td>{{ player.average_conceded_goal_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
