<div class="best-goalkeeper-table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Position</th>
            <th>First name</th>
            <th>Last name</th>
            <th><abbr title="Average foul count per game">AFC</abbr></th>
        </tr></thead>
        <tbody>
            {% for referee in tight_referee_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ referee.first_name }}</td>
                <td>{{ referee.last_name }}</td>
                <td>{{ referee.average_foul_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
