<div class="team-goalkeeper-table-wrapper">
    <table class="table table-striped table-hover">
        <caption>Goalkeeper statistics</caption>
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Goals conceded</th>
            <th scope="col"><abbr title="Average conceded goals per match">ACG</abbr</th>
            <th scope="col">Played time</th>
            <th scope="col">Yellow cards</th>
            <th scope="col">Red cards</th>
            <th scope="col">Played matches</th>
            <th scope="col"><abbr title="Played matches in base team">PBT</abbr></th>
        </tr>
        </thead>
        <tbody>
        {% for goalkeeper in goalkeeper_list %}
            <tr>
                <th scope="row">{{ goalkeeper.number }}</th>
                <td>{{ goalkeeper.first_name }}</td>
                <td>{{ goalkeeper.last_name }}</td>
                <td>{{ goalkeeper.conceded_goal_count }}</td>
                <td>{{ goalkeeper.average_conceded_goal_count }}</td>
                <td>{{ goalkeeper.played_length }}</td>
                <td>{{ goalkeeper.yellow_card_count | default:0 }}</td>
                <td>{{ goalkeeper.red_card_count | default:0 }}</td>
                <td>{{ goalkeeper.match_count }}</td>
                <td>{{ goalkeeper.match_count_in_base_team }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
