<div class="team-goalkeeper-table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Goals conceded</th>
            <th>Average conceded goals per match</th>
            <th>Played time</th>
            <th>Yellow cards</th>
            <th>Red cards</th>
            <th>Played matches</th>
            <th>Played matches in base team</th>
        </tr>
        </thead>
        <tbody>
        {% for goalkeeper in goalkeeper_list %}
            <tr>
                <td>{{ goalkeeper.number }}</td>
                <td>{{ goalkeeper.first_name }}</td>
                <td>{{ goalkeeper.last_name }}</td>
                <td>{{ goalkeeper.conceded_goal_count }}</td>
                <td>{{ goalkeeper.average_conceded_goal_count }}</td>
                <td>{{ goalkeeper.played_length }}</td>
                <td>{{ goalkeeper.yellow_card_count | default:0 }}</td>
                <td>{{ goalkeeper.red_card_count | default:0 }}</td>
                <td>{{ goalkeeper.match_count }}</td>
                <td>{{ goalkeeper.match_count_in_base_team }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
