<div class="team-player-table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Goals scored</th>
            <th>Goals assisted</th>
            <th>Played time</th>
            <th>Yellow cards</th>
            <th>Red cards</th>
            <th>Played matches</th>
            <th>Played matches in base team</th>
        </tr>
        </thead>
        <tbody>
        {% for player in player_list %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.first_name }}</td>
                <td>{{ player.last_name }}</td>
                <td>{{ player.goals_scored }}</td>
                <td>{{ player.goals_assisted }}</td>
                <td>{{ player.played_length }}</td>
                <td>{{ player.yellow_card_count | default:0 }}</td>
                <td>{{ player.red_card_count | default:0 }}</td>
                <td>{{ player.match_count }}</td>
                <td>{{ player.match_count_in_base_team }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
