<form action="{% url 'match-upload' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if is_upload_successful %}
        <div class="alert alert-success" role="alert">
            <strong>File successfully uploaded</strong>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="{{ form.match_json_file.id_for_label }}">{{ form.match_json_file.label }}</label>
        {{ form.match_json_file }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
